{{- if .tags.work }}
[".local/bin/calicoctl"]
executable = true
refreshPeriod = "672h"
type = "file"
url = "https://github.com/projectcalico/calico/releases/download/v{{ .versions.calico }}/calicoctl-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"

[".local/bin/terraform"]
executable = true
path = "terraform"
refreshPeriod = "168h"
type = "archive-file"
url = "https://releases.hashicorp.com/terraform/{{ .versions.terraform }}/terraform_{{ .versions.terraform }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip"
{{- end }}
