{{- if .tags.personal }}

PROJECTS_DIR=~/dev
GIT_PROJECT_PATHS='~/dev'

CURL_CA_BUNDLE={{ .brew.prefix }}/etc/openssl@3/cert.pem
NIX_SSL_CERT_FILE={{ .brew.prefix }}/etc/openssl@3/cert.pem
NODE_EXTRA_CA_CERTS={{ .brew.prefix }}/etc/openssl@3/cert.pem
REQUESTS_CA_BUNDLE={{ .brew.prefix }}/etc/openssl@3/cert.pem
SSL_CERT_FILE={{ .brew.prefix }}/etc/openssl@3/cert.pem

EMAIL={{ .personal.email }}
DIGITALOCEAN_CONTEXT=default

{{- end }}
