{{- if .tags.personal }}

PROJECTS_DIR=~/dev
GIT_PROJECT_PATHS='~/dev'

# man
MANPAGER=/opt/homebrew/bin/less
PAGER=/opt/homebrew/bin/less

EMAIL={{ .personal.email }}
DIGITALOCEAN_CONTEXT=default

{{- end }}
