{{- $NIX_PATH := env "NIX_PATH" | splitList ":" | compact -}}

{{- $paths := list -}}
{{- $paths = append $paths "/nix/var/nix/profiles/per-user/root/channels" -}}
{{- $paths = append $paths (joinPath .chezmoi.homeDir ".nix-defexpr/channels") -}}
{{- $paths = append $paths (joinPath .chezmoi.homeDir ".nixpkgs/darwin-configuration.nix" | printf "darwin-config=%s") -}}

{{- range $_, $path := $paths -}}
{{- if not (has $path $NIX_PATH) -}}
{{- $NIX_PATH = prepend $NIX_PATH $path -}}
{{- end -}}
{{- end -}}

NIX_PATH={{ $NIX_PATH | join ":" }}
