{{- /* cspell:disable */ -}}

FZF_LEGACY_KEYBINDINGS=0
FZF_COMPLETE=1
FZF_DEFAULT_OPTS='--height=50% --layout=reverse'
FZF_REVERSE_ISEARCH_OPTS='--preview-window=up:10 --preview="echo {}" --height=50%'
