TERMINFO_DIRS={{ .chezmoi.homeDir }}/.nix-profile/share/terminfo:/run/current-system/sw/share/terminfo:/nix/var/nix/profiles/default/share/terminfo:/usr/share/terminfo
XDG_CONFIG_DIRS={{ .chezmoi.homeDir }}/.nix-profile/etc/xdg:/run/current-system/sw/etc/xdg:/nix/var/nix/profiles/default/etc/xdg
XDG_DATA_DIRS={{ .chezmoi.homeDir }}/.nix-profile/share:/run/current-system/sw/share:/nix/var/nix/profiles/default/share
NIX_USER_PROFILE_DIR=/nix/var/nix/profiles/per-user/{{ .chezmoi.username }}
NIX_PROFILES="/nix/var/nix/profiles/default /run/current-system/sw {{ .chezmoi.homeDir }}/.nix-profile"
NIX_REMOTE=daemon
