{{- /* cspell:disable */ -}}

# language
LC_COLLATE=en_US.UTF-8
LC_CTYPE=C
LC_MESSAGES=en_US.UTF-8
LC_MONETARY=en_US.UTF-8
LC_NUMERIC=en_US.UTF-8
LC_TIME=en_US.UTF-8
LC_ALL=C
LANG=en_US.UTF-8

# editors
EDITOR={{ lookPath "vim" }}
VISUAL={{ lookPath "code" }}

# ls
LSCOLORS=exfxcxdxbxegedabagacad

# man
MANPAGER={{ lookPath "less" }}
PAGER={{ lookPath "less" }}

# replace the MacOS standard SSH agent socket with 1Password
SSH_AUTH_SOCK='~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock'
