#!/usr/bin/env sh
# chezmoi:template:left-delimiter="# {{" right-delimiter=}}

# {{- $filename := joinPath ".global.d" ".security.yaml.tmpl" }}
# {{- $template := includeTemplate $filename . }}
# # {{ base $filename }} hash: # {{ $template | sha256sum }}

set -eum
trap 'kill 0' INT HUP TERM

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

printf "\e[1;33mAuthorization DB\e[0m\n"

# run only on darwin
test "${CHEZMOI_OS:-}" = "darwin" || exit

# security settings
# {{- range $key, $value := get (fromYaml $template) "authorizationdb" }}
# shellcheck disable=SC2154,SC2250
echo "Writing # {{ $key }} => # {{ $value }}"
sudo security authorizationdb write # {{ $key }} # {{ $value }}
# {{- end }}
