#!/usr/bin/env sh
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

set -eum
trap 'kill 0' INT HUP TERM

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

printf "\e[1;33mGit sparse-checkout settings\e[0m\n"

git -C "#{{ .chezmoi.homeDir }}/.config/direnv/nix-direnv" \
  sparse-checkout set \
  --no-cone \
  /direnvrc \
  /default.nix \
  /shell.nix
