#!/usr/bin/env sh
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

set -eum
trap 'kill 0' INT HUP TERM

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

# import common functions
# shellcheck source=../.setup.d/functions.sh
. "${DOTFILES_PATH}/.setup.d/functions.sh"

printf "\e[1;33m[Darwin] Nix-darwin\e[0m\n"

# run only on darwin
test "${CHEZMOI_OS:-}" = "darwin" || exit

# skip if nix-darwin is installed
command -v darwin-rebuild >/dev/null 2>&1 && exit

createAndEnterTmpDir

nix-build https://github.com/LnL7/nix-darwin/archive/master.tar.gz -A installer

yes | ./result/bin/darwin-installer

/run/current-system/sw/bin/darwin-rebuild activate
/run/current-system/sw/bin/darwin-rebuild switch
