#!/usr/bin/env sh
# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- range $_, $filename := (glob (joinPath .chezmoi.homeDir ".config" "sudoers.d" "*")) }}
# # {{ base $filename }} hash: # {{ include $filename | sha256sum }}
# {{- end }}

set -eum
trap 'kill 0' INT HUP TERM

: "${SUDOERS_PATH:=${HOME}/.config/sudoers.d}"

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

printf "\e[1;33mSudoers\e[0m\n"

OLD_FILES="sudo-${USER}"

for SUDOERS_FILE in "${SUDOERS_PATH}"/*; do
  TARGET="/etc/sudoers.d/$(basename "${SUDOERS_FILE}")-${USER}"

  printf "installing \e[91m%s\e[0m to \e[91m%s\e[0m...\n" "${SUDOERS_FILE}" "${TARGET}"

  visudo -c "${SUDOERS_FILE}" || continue
  sudo cp "${SUDOERS_FILE}" "${TARGET}"
done

for NAME in ${OLD_FILES}; do
  TARGET="/etc/sudoers.d/${NAME}"

  test -f "${TARGET}" || continue

  printf "removing \e[91m%s\e[0m...\n" "${TARGET}"

  sudo rm "${TARGET}"
done
