#!/usr/bin/env sh
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

#{{- $sources := list }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "krew.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.os "krew.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.hostname "krew.txt") }}
#{{- if .tags.personal }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "personal" "krew.txt") }}
#{{- else if .tags.work }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "work" "krew.txt") }}
#{{- end }}

#{{- range $_, $source := $sources }}
#{{- if stat $source }}
# #{{ $source }} hash: #{{ include $source | sha256sum }}
#{{- end }}
#{{- end }}

set -eum
trap 'kill 0' INT HUP TERM

: "${ARCH:?unknown architecture}"
: "${SYSTEM:?unknown system}"
: "${PACKAGES_PATH:?must be set}"

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v


# import common functions
# shellcheck source=../.setup.d/functions.sh
. "${DOTFILES_PATH}/.setup.d/functions.sh"

h1 "Krew plugins"

command -v kubectl > /dev/null || exit 0
command -v kubectl-krew > /dev/null || exit 0

createAndEnterTmpDir

printf "Listing installed plugins...\n"
INSTALLED="${PWD}/installed"
kubectl krew list | cut -d= -f1 > "${INSTALLED}"

getPackagesPipeIntoVariable "krew.txt" PACKAGES
FIFO=$(getRandomFifo)

while read -r PACKAGE; do
  parsePackageForRemoval "${PACKAGE}" > "${FIFO}"
  read -r REMOVE PACKAGE < "${FIFO}"

  case "${REMOVE}" in
    1)
      printStatus uninstall check "${PACKAGE}"
      grep -qFx "${PACKAGE}" "${INSTALLED}" || {
        printStatus uninstall skip "${PACKAGE}"
        continue
      }

      printStatus uninstall execute "${PACKAGE}"
      kubectl krew uninstall "${PACKAGE}" || status=failure
      printStatus uninstall "${status:-success}" "${PACKAGE}"
    ;;
    0)
      printStatus install check "${PACKAGE}"
      grep -qFx "${PACKAGE}" "${INSTALLED}" && {
        printStatus install skip "${PACKAGE}"
        continue
      }
      printStatus install execute "${PACKAGE}"
      kubectl krew install "${PACKAGE}" || status=failure
      printStatus install "${status:-success}" "${PACKAGE}"
    ;;
  esac

done < "${PACKAGES}"
