#!/usr/bin/env sh
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

#{{- $sources := list }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "helm.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.os "helm.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.hostname "helm.txt") }}
#{{- if .tags.personal }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "personal" "helm.txt") }}
#{{- else if .tags.work }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "work" "helm.txt") }}
#{{- end }}

#{{- range $_, $source := $sources }}
#{{- if stat $source }}
# #{{ $source }} hash: #{{ include $source | sha256sum }}
#{{- end }}
#{{- end }}

set -eum
trap 'kill 0' INT HUP TERM

: "${ARCH:?unknown architecture}"
: "${SYSTEM:?unknown system}"
: "${PACKAGES_PATH:?must be set}"

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

# import common functions
# shellcheck source=../.setup.d/functions.sh
. "${DOTFILES_PATH}/.setup.d/functions.sh"

h1 "Helm plugins"

createAndEnterTmpDir

INSTALLED="${PWD}/installed"
helm plugin list 2>/dev/null | awk 'NR != 1 {print $1}' > "${INSTALLED}"

getPackagesPipeIntoVariable "helm.txt" PACKAGES

while read -r PACKAGE; do
  printStatus install check "${PACKAGE%%|*}"
  grep -q "${PACKAGE%%|*}" "${INSTALLED}" && {
    printStatus install skip "${PACKAGE%%|*}"
    continue
  }

  printStatus install execute "${PACKAGE%%|*}"
  helm plugin install "${PACKAGE##*|}" || status=failure
  printStatus install "${status:-success}" "${MODULE}"
done < "${PACKAGES}"
