#!/usr/bin/env sh
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

#{{- $sources := list }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "node.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.os "node.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.hostname "node.txt") }}
#{{- if .tags.personal }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "personal" "node.txt") }}
#{{- else if .tags.work }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "work" "node.txt") }}
#{{- end }}

#{{- range $_, $source := $sources }}
#{{- if stat $source }}
# #{{ $source }} hash: #{{ include $source | sha256sum }}
#{{- end }}
#{{- end }}

set -eum
trap 'kill 0' INT HUP TERM

: "${ARCH:?unknown architecture}"
: "${SYSTEM:?unknown system}"
: "${DOTFILES_PATH:?must be set}"
: "${PACKAGES_PATH:?must be set}"
: "${TAGSRC:=${HOME}/.tagsrc}"

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

# import common functions
# shellcheck source=../.setup.d/functions.sh
. "${DOTFILES_PATH}/.setup.d/functions.sh"

printf "\e[1;33mNode\e[0m\n"

printf "Checking %s...\n" "$(colorBin "node")"
if ! _=$(command -V node >/dev/null 2>&1); then
  echo "node not found"
  exit 1
fi

printf "Checking %s...\n" "$(colorBin "npm")"
if ! _=$(command -V npm >/dev/null 2>&1); then
  echo "npm not found"
  exit 1
fi

printf "Checking %s...\n" "$(colorBin "yarn")"
if ! _=$(command -V yarn >/dev/null 2>&1); then
  npm i -g yarn
fi

h1 "Yarn global packages"

createAndEnterTmpDir

INSTALLED="${PWD}/installed"
jq -r '.dependencies | keys[]' "$(yarn global dir)/package.json" > "${INSTALLED}"

getPackagesPipeIntoVariable "node.txt" PACKAGES
FIFO=$(getRandomFifo)

### Install packages
while read -r PACKAGE; do
  parsePackageForRemoval "${PACKAGE}" > "${FIFO}"
  read -r REMOVE PACKAGE < "${FIFO}"

  case "${REMOVE}" in
    1)
      printStatus uninstall check "${PACKAGE}"
      grep -qFx "${PACKAGE}" "${INSTALLED}" || {
        printStatus uninstall skip "${PACKAGE}"
        continue
      }

      printStatus uninstall execute "${PACKAGE}"
      yarn global remove "${PACKAGE}" > /dev/null || status=failure
      printStatus install "${status:-success}" "${MODULE}"
    ;;
    0)
      printStatus install check "${PACKAGE}"
      grep -qFx "${PACKAGE}" "${INSTALLED}" && {
        printStatus install skip "${PACKAGE}"
        continue
      }

      printStatus install execute "${PACKAGE}"
      yarn global add "${PACKAGE}" > /dev/null || status=failure
      printStatus install "${status:-success}" "${PACKAGE}"
    ;;
  esac
done < "${PACKAGES}"
