#!/usr/bin/env sh
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

set -eum
trap 'kill 0' INT HUP TERM

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

printf "\e[1;33mNix\e[0m\n"

# skip if nix is installed
command -v nix >/dev/null 2>&1 && exit

curl -L https://nixos.org/nix/install | sh -s

# force loading on the current shell and bootstrap the installation
unset __ETC_PROFILE_NIX_SOURCED
. /nix/var/nix/profiles/default/etc/profile.d/nix.sh
. /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh

nix-shell -p nix-info --run "nix-info -m"
