#!/usr/bin/env sh
# chezmoi:template:left-delimiter="#{{" right-delimiter=}}

#{{- $sources := list }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "golang.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.os "golang.txt") }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" .chezmoi.hostname "golang.txt") }}
#{{- if .tags.personal }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "personal" "golang.txt") }}
#{{- else if .tags.work }}
#{{- $sources = append $sources (joinPath .chezmoi.sourceDir ".setup.d" "packages" "work" "golang.txt") }}
#{{- end }}

#{{- range $_, $source := $sources }}
#{{- if stat $source }}
# #{{ $source }} hash: #{{ include $source | sha256sum }}
#{{- end }}
#{{- end }}

set -eum
trap 'kill 0' INT HUP TERM

: "${ARCH:?unknown architecture}"
: "${SYSTEM:?unknown system}"
: "${DOTFILES_PATH:?must be set}"
: "${PACKAGES_PATH:?must be set}"
: "${GOPATH:=${HOME}/go}"

test "${TRACE:-0}" = "1" && set -x
test "${VERBOSE:-0}" = "1" && set -v

# import common functions
# shellcheck source=../.setup.d/functions.sh
. "${DOTFILES_PATH}/.setup.d/functions.sh"

printf "\e[1;33mGolang packages\e[0m\n"

### Check package tool
printf "Checking \e[91mgo\e[0m...\n"
# Get manager
if ! _=$(command -V go >/dev/null 2>&1); then
  GOINSTALL=
  case "${SYSTEM}" in
    "darwin")
      GOINSTALL=--darwin
      ;;
    "linux")
      if [ "${ARCH}" = "amd64" ]; then
        GOINSTALL=--64
      else
        GOINSTALL=--32
      fi
      ;;
  esac
  curl -fsSL https://raw.githubusercontent.com/wwmoraes/golang-tools-install-script/master/goinstall.sh | bash -s - "${GOINSTALL}"
fi

printf "Checking go packages on \e[94m%s\e[0m...\n" "${GOPATH}"

enterTmp
getPackages "golang.txt"
: "${PACKAGES:?run getPackages to generate}"

### Install packages
FIFO=$(mktemp -u -t dotfiles-golang-XXXXXX)
mkfifo -m 0600 "${FIFO}"
trap 'rm -f "${FIFO}"' EXIT INT TERM
while read -r PACKAGE; do
  case "${PACKAGE%%:*}" in
    -*) REMOVE=1; PACKAGE=${PACKAGE#-*};;
    *) REMOVE=0;;
  esac

  echo "${PACKAGE}" > "${FIFO}" &
  IFS=: read -r PKG BIN < "${FIFO}"
  echo "${PKG}" > "${FIFO}" &
  IFS=@ read -r MODULE VERSION < "${FIFO}"
  : "${VERSION:=latest}"
  : "${BIN:=$(basename "${MODULE}")}"

  GOPATH=$(go env GOPATH)

  case "${REMOVE}" in
    1)
      printf "[\e[91muninstall\e[m] Checking \e[96m%s\e[0m\n" "${MODULE}"
      test -f "${GOPATH:?}/bin/${BIN}" || continue
      printf "[\e[91muninstall\e[m] Uninstalling \e[95m%s\e[0m\n" "${MODULE}"
      test -d "${GOPATH:?}/src/${MODULE}" && rm -rf "${GOPATH:?}/src/${MODULE}"
      test -f "${GOPATH:?}/bin/${BIN}" && rm -rf "${GOPATH:?}/bin/${BIN}"
      test -d "${GOPATH:?}/pkg/mod/${MODULE}" && rm -rf "${GOPATH:?}/pkg/mod/${MODULE}"
      test -d "${GOPATH:?}/pkg/mod/cache/download/${MODULE}" && rm -rf "${GOPATH:?}/pkg/mod/cache/download/${MODULE}"
    ;;
    0)
      printf "[\e[92m install \e[m] Checking \e[96m%s\e[0m\n" "${MODULE}"
      test -f "${GOPATH:?}/bin/${BIN}" && continue
      printf "[\e[92m install \e[m] Installing \e[96m%s\e[0m\n" "${MODULE}"
      env -u GOBIN go install "${MODULE}@${VERSION}" || printf "\e[91mFAILED\e[m to install \e[96m%s\e[0m\n" "${MODULE}" >&2
    ;;
  esac
done < "${PACKAGES}"

# Darwin go binaries are still built only for x64. This means install builds for
# arm64, but the end binary is sent to a subdirectory. We fix that by moving
# them all to avoid yet another directory on the PATH
GO_BIN_PATH="$(go env GOPATH)/bin"
GO_OS_ARCH_BIN_PATH="${GO_BIN_PATH}/$(go env GOOS)_$(go env GOARCH)"
if [ -d "${GO_OS_ARCH_BIN_PATH}" ]; then
  find "${GO_OS_ARCH_BIN_PATH}" -type f -exec mv {} "${GO_BIN_PATH}" \;
  rmdir "${GO_OS_ARCH_BIN_PATH}"
fi
