[core]
	excludesfile = .gitignore_global
[include]
	path = .gitaliases
[user]
	name = William Wagner Moraes Artero
	email = williamwmoraes@gmail.com
[pull]
	rebase = true
[commit]
	gpgSign = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
[difftool]
	prompt = false


[includeIf "gitdir:/home/william.artero/"]
	path = .gitconfig-work
