.ansible
.Brewfile
.cache/act
.cache/actcache
.cache/codeclimate
.cache/dhall-haskell
.cache/pre-commit
.cache/semgrep-version
.cargo
.config/brewfile
.config/containers
.config/direnv/nix-direnv
.config/environment.d
.config/karabiner
.config/macos-defaults
.config/paths.d
.config/yarn
.editorconfig
.env
.env_aab-proxy
.env_personal
.env_personal_secrets
.env_remove
.env_remove_secrets
.env_remove_work_secrets
.env_secrets
.env_work
.env_work_secrets
.files
.finicky.d.ts
.ghcup
.gitconfig-os
.gitconfig-secrets
.gnupg_pre_2.1
.helm/plugins
.krew
.local/bin/calicoctl
.local/bin/cc-test-reporter
.local/bin/chezmoi-conf
.local/bin/chezmoi-switch
.local/bin/cilium
.local/bin/devbox
.local/bin/docker
.local/bin/docker-credential-osxkeychain
.local/bin/git-all
.local/bin/git-allc
.local/bin/pixi
.local/bin/plantuml
.local/bin/talosctl
.local/bin/terraform
.local/google-cloud-sdk
.local/opt/bin
.local/opt/sbin
.local/pipx
.local/share/fonts
.local/share/nvim
.local/share/plantuml.jar
.logseq
.parsec
.quokka
.semgrep
.skhdrc
.ssh/config.d/profiles
.stack/hooks/ghc-install.sh
.step
.tagsrc
.tmux.plugins.conf
.tmux.sh
.tmux/plugins/tpm
.todo
.vscode-oss
.wallaby
.wrangler
dev/shell.nix
go/bin/darwin_amd64
go/bin/darwin_arm64
Library/Application Support/pipx
Library/Application Support/xbar
Library/Caches/cirrus
Library/Caches/pip
Library/Caches/pipx
Library/Caches/pylint
Library/Caches/rattler
Library/LaunchAgents/dev.artero.ssh-add.plist
Library/Python/3.10
Library/Python/3.9
Library/Scripts/dev.artero.environment
Taskfile.yaml
workspace/shell.nix

{{- if .environment.home }}

Library/Application Support/OneDrive

{{- end }}
