{{- $isPersonal := hasSuffix "Cabuk" .chezmoi.hostname -}}
{{- $isWork := eq "C02DQ36NMD6P" .chezmoi.hostname -}}

encryption = "gpg"

[data]
  {{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "arm64" }}
  brewPrefix = "/opt/homebrew"
  brewRepository = "/opt/homebrew"
  {{- else }}
  brewPrefix = "/usr/local"
  brewRepository = "/usr/local/Homebrew"
  {{- end }}
  {{- else }}
  brewPrefix = "/home/linuxbrew/.linuxbrew"
  brewRepository = "/home/linuxbrew/.linuxbrew/Homebrew"
  {{- end }}

[data.me]
  username = {{ onepasswordRead "op://Personal/Me/Contact/username" | quote }}
  personalEmail = {{ onepasswordRead "op://Personal/Me/Contact/email" | quote }}
  pgpFingerprint = {{ onepasswordRead "op://Personal/fs4mlo7bfmaf6i6hakinlp2kzq/fingerprint" | quote }}
  pgpSigningKey = {{ onepasswordRead "op://Personal/fs4mlo7bfmaf6i6hakinlp2kzq/identity" | quote }}
  preferredName = {{ onepasswordRead "op://Personal/Me/preferred name" | quote }}
  workEmail = {{ onepasswordRead "op://Work/spxhk2guox46dy4m5rohaimcgy/username" | quote }}
  FQDN = {{ onepasswordRead "op://Personal/Me/FQDN" | quote }}

[data.tags]
  personal = {{ $isPersonal }}
  work = {{ $isWork }}

# we control versions here as the externals calculate them on every apply.
# That's a problem as we hit the GitHub API limits when developing
[data.versions]
  calico = "3.26.3" {{- /* (gitHubLatestRelease "projectcalico/calico").TagName | trimPrefix "v" | quote */}}
  firaCode = "6.2" {{- /* (gitHubLatestRelease "tonsky/FiraCode").TagName | quote */}}
  terraform = {{- output "curl" "-fsSL" "https://releases.hashicorp.com/terraform/" | regexFind "terraform_[0-9.]+" | trimPrefix "terraform_" | quote }}

[diff]
  exclude = ["scripts"]

[gpg]
  recipient = {{ onepasswordRead "op://Personal/Me/Contact/email" | quote }}

[interpreters.fish]
  command = "fish"

[scriptEnv]
  # whether to apply MacOS defaults or not
  DEFAULTS = "0"
  # general script debug
  TRACE = "0"
  VERBOSE = "0"
  # legacy package management
  DOTFILES_PATH = {{ .chezmoi.sourceDir | quote }}
  PACKAGES_PATH = {{ joinPath .chezmoi.sourceDir ".setup.d" "packages" | quote }}
  ARCH = {{ .chezmoi.arch | quote }}
  SYSTEM = {{ .chezmoi.os | quote }}
  WORK = {{ $isWork | ternary 1 0 | quote }}
  PERSONAL = {{ $isPersonal | ternary 1 0 | quote }}
  HOST = {{ .chezmoi.hostname | quote }}
  {{- if $isPersonal }}
  TAGS = "personal"
  {{- else if $isWork }}
  TAGS = "work"
  {{- end }}
