{{- $environmentChoices := list "home" "work" -}}
{{- $environment := promptChoiceOnce .environment "name" "What environment is this host on" $environmentChoices -}}

{{- $pinentry := lookPath "pinentry-tty" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- with (output "mdfind" "kMDItemCFBundleIdentifier" "=" "org.gpgtools.pinentry-mac" | trimAll "\r\n") -}}
    {{- if . -}}
      {{- $pinentry = joinPath . "Contents/MacOS/pinentry-mac" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $ejsonDict := joinPath .chezmoi.sourceDir ".ejson/secrets.json" | ejsonDecrypt -}}

encryption = "gpg"

{{ $ejsonDict | toToml }}

[data.environment]
name = {{ $environment | quote }}
home = {{ eq $environment "home" }}
work = {{ eq $environment "work" }}

[data.work.features.proxies]
node.enabled = false
python.enabled = true

[diff]
  exclude = ["scripts"]

[gpg]
  recipient = {{ $ejsonDict.data.personal.email | quote }}

[hooks.init.pre]
command = "task"
args = [
  "-d",
  {{ .chezmoi.sourceDir | quote }},
  "secrets"
]

[interpreters.fish]
command = "fish"

[pinentry]
command = {{ $pinentry | quote }}

[scriptEnv]
  # whether to apply MacOS defaults or not
  DEFAULTS = "0"
  # general script debug
  TRACE = "0"
  VERBOSE = "0"
  ENVIRONMENT = {{ $environment | quote }}
