{{- $environmentChoices := list "home" "work" -}}
{{- $environment := promptChoiceOnce . "environment.name" "What environment is this host on" $environmentChoices -}}

{{- $pinentry := lookPath "pinentry-tty" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $bin := "/usr/local/MacGPG2/libexec/pinentry-mac.app/Contents/MacOS/pinentry-mac" -}}
  {{- $binInfo := lstat $bin -}}
  {{- if and $binInfo (eq $binInfo.type "file") -}}
      {{- $pinentry = $bin -}}
  {{- end -}}
{{- end -}}

{{- $ejsonDict := joinPath .chezmoi.sourceDir ".ejson/secrets.json" | ejsonDecrypt -}}

encryption = "gpg"

{{ $ejsonDict | toToml }}

[data.environment]
name = {{ $environment | quote }}
home = {{ eq $environment "home" }}
work = {{ eq $environment "work" }}

[data.work.features.proxies]
node.enabled = false
python.enabled = true

{{- with .work.docker.auths }}

[data.work.docker.config.auths]
{{- range $_, $auth := splitList "," . }}
"{{- $auth -}}" = {}
{{- end }}
{{- end }}

[diff]
  exclude = ["scripts"]

[gpg]
  recipient = {{ $ejsonDict.data.personal.email | quote }}

[hooks.init.pre]
command = "task"
args = [
  "-d",
  {{ .chezmoi.sourceDir | quote }},
]

[interpreters.fish]
command = "fish"

[pinentry]
command = {{ $pinentry | quote }}

[scriptEnv]
  # whether to apply MacOS defaults or not
  DEFAULTS = "0"
  # general script debug
  TRACE = "0"
  VERBOSE = "0"
  DOT_ENVIRONMENT = {{ $environment | quote }}
