root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

## file types that must use space indentation
[*.{md,md.tmpl}]
indent_style = space

[*.{yml,yaml,yml.tmpl,yaml.tmpl}]
indent_style = space

## generated content
[nix/sources.{json,nix}]
generated_code = true
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
