source_up_if_exists

dotenv_if_exists .env
dotenv_if_exists .env.local

EJSON_KEYDIR=$(expand_path .ejson/keys)
export EJSON_KEYDIR

# if [ -z "${NIX_PATH:-}" ]; then
#   NIX_PATH=kaizen=${HOME}/dev/kaizen/default.nix:darwin-config=${HOME}/.nixpkgs/darwin-configuration.nix:darwin=${HOME}/.nix-defexpr/channels/darwin:nixpkgs=/nix/var/nix/profiles/per-user/root/channels/nixpkgs:/nix/var/nix/profiles/per-user/root/channels
# fi
# export NIX_PATH

use nix
