[diff "sops-yaml"]
textconv = yq 'sort_keys(..) | del(.sops.lastmodified) | del(.sops.mac)'
cachetextconv = true

[merge "write-files"]
name = "generate files using mightyiam/files"
driver = "nix run .#write-files"

[merge "write-flake"]
name = "generate flake file using vic/flake-file"
driver = "nix run .#write-flake"

[user]
backupBranch = trunk
