# Vim local directories
vim/.vim/backups/*
!vim/.vim/backups/.gitkeep
vim/.vim/swaps/*
!vim/.vim/swaps/.gitkeep
vim/.vim/undo/*
!vim/.vim/undo/.gitkeep

# Vim files
vim/.vim/viminfo

### fisher
fish/.config/fish/functions/fisher.fish
# jorgebucaran/fish-nvm
fish/.config/fish/conf.d/nvm.fish
fish/.config/fish/completions/nvm.fish
fish/.config/fish/functions/nvm.fish
fish/.config/fish/functions/_nvm_*.fish
# edc/bass
fish/.config/fish/functions/__bass.py
fish/.config/fish/functions/bass.fish
# evanlucas/fish-kubectl-completions
fish/.config/fish/completions/kubectl.fish
# otms61/fish-pet
fish/.config/fish/functions/prev.fish
fish/.config/fish/functions/pet-select.fish


# VSCode
vscode/.config/Code
!vscode/.config/Code/User/snippets
!vscode/.config/Code/User/keybindings.json
!vscode/.config/Code/User/settings.json

fish/.config/fish/fish_variables
vim/.vim/.netrwhist
