services:
  breach_directory_api_key: {{ .personal.tokens.breachDirectory }}
  emailrep_api_key: {{ .personal.tokens.emailRep }}
  hunter_api_key: {{ .personal.tokens.hunterIO }}
  intelx_api_key: {{ .personal.tokens.intelX }}
  # haveibeenpwned_api_key: ""

settings:
  intelx_max_results: 20
