[commit]
  gpgSign = false

# thank you CISO for making my host less secure, great job! :D
[credential]
  helper = store

[core]
  commentChar = |

[credential]
  useHttpPath = true

[diff]
  # SSNS is so bloated that even the sane defaults aren't enough
  renameLimit = 16384

# [url "https://<pat>@dev.azure.com"]
#   insteadOf = https://dev.azure.com

[user]
  email = {{ .work.email }}
  name = {{ .personal.name.preferred }}
