[advice]
  detachedHead = false

[core]
  attributesFile = ~/.gitattributes
  commentChar = auto
  editor = vim
  excludesFile = ~/.gitignore-global
  hooksPath = ~/.local/hooks
  ignoreCase = false
  pager = cat
  preComposeUnicode = true

{{- $helper := "cache" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $helper = "osxkeychain" }}
{{- else if eq .chezmoi.os "windows" }}
{{- $helper = "wincred" }}
{{- else if eq .chezmoi.os "linux" }}
{{- $helper = "cache" }}
{{- end }}
[credential]
  helper = {{ $helper }}

[diff "plist"]
  textConv = plist2xml

[diff]
  ## Show blocks of moved text of at least 20 alphanumeric characters differently than adds/deletes
  ## https://blog.github.com/2018-04-05-git-217-released/
  colorMoved = zebra

[difftool]
  prompt = false

[fetch]
  fsckObjects = true
  prune = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f

[format]
  signOff = true

[gui]
  pruneDuringFetch = true

[help]
  ## correct typos
  autoCorrect = 1

## Include files to keep this one lean
[include]
  path = ~/.gitaliases
  path = ~/.gitcolors

{{- $HOME := .chezmoi.homeDir -}}

## Personal overrides
[includeIf "gitdir:{{ $HOME }}/.files/"]
  path = .gitconfig-personal
[includeIf "gitdir:{{ $HOME }}/.local/share/chezmoi/"]
  path = .gitconfig-personal
[includeIf "gitdir:{{ $HOME }}/.secrets/"]
  path = .gitconfig-personal
[includeIf "gitdir:{{ $HOME }}/dev/**/"]
  path = .gitconfig-personal

## Work overrides
[includeIf "gitdir:{{ $HOME }}/workspace/**/"]
  path = .gitconfig-work

[init]
  defaultBranch = master

[log]
  date = relative

[mailInfo]
  scissors = true

[merge]
  autoStash = true
  ff = only

[protocol]
  ## faster git server communication.
  ## like a LOT faster. https://opensource.googleblog.com/2018/05/introducing-git-protocol-version-2.html
  version = 2

[pull]
  rebase = true
  ff = only

## push easily. http://stackoverflow.com/a/23918418/89484
[push]
  default = current
  followTags = true
  recurseSubmodules = check

[rebase]
  autoSquash = true
  autoStash = true

[receive]
  fsckObjects = true

# [remote "origin"]
  # fetch = +refs/heads/*:refs/remotes/origin/*

[safe]
  directory = *

[sendEmail]
  annotate = yes
  chainReplyTo = false

[smartGit "submodule"]
  fetchAlways = false
  initializeNew = true
  update = true

[stash]
  showPatch = true

## https://git-scm.com/docs/git-interpret-trailers
[trailer "sign"]
  command = echo \"$(git config user.name) <$(git config user.email)>\"
  ifExists = addIfDifferent
  ifMissing = add
  key = Signed-off-by

[trailer "coauthor"]
  key = Co-authored-by
  ifExists = addIfDifferent

[transfer]
  fsckObjects = true

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git@github.com:"]
  insteadOf = git://github

[url "git@gist.github.com:"]
  insteadOf = https://gist.github.com/

[user]
  email = git@{{ .me.FQDN }}
  name = {{ .me.preferredName }}
