## fuck prefix2, we ball :D
bind -n ` switch-client -Tprefix
bind-key -T prefix ` send-prefix
bind -n § switch-client -Tprefix
bind-key -T prefix § send-prefix

# Load split configuration files before the plugins kick in, as they modify
# settings to inject functionality
source-file ~/.tmux.status.conf
