[commit]
  gpgSign = false

[core]
  commentChar = |

[credential]
  useHttpPath = true

[diff]
  # SSNS is so bloated that even the sane defaults aren't enough
  renameLimit = 16384

# [url "https://<pat>@dev.azure.com"]
#   insteadOf = https://dev.azure.com

[user]
  email = {{ .me.workEmail }}
  name = {{ .me.preferredName }}
