cask_args appdir: "~/Applications"

#region tap
tap "dsully/tap" # macos-defaults
tap "homebrew/bundle"
# tap "homebrew/cask-versions"
tap "homebrew/services"
tap "jesseduffield/lazygit"
tap "knqyf263/pet" # pet
tap "koekeishiya/formulae" # skhd
tap "raggi/ale" # openssl-osx-ca
tap "wwmoraes/tap"

{{- if .tags.personal }}
tap "lemoony/tap" # snipkit
tap "nextdns/tap"

{{- else if .tags.work }}
tap "avisi-cloud/tools" # structurizr-site-generatr

{{- end }}
#endregion

#region brew
brew "adr-tools"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "cowsay"
brew "direnv"
brew "dive"
brew "fortune"
brew "fswatch"
brew "fzf"
brew "gawk"
brew "git-delta"
brew "git"
brew "gnupg"

brew "grc"
brew "jq"
brew "lazygit"
brew "lefthook"
brew "less"
brew "macos-defaults"
brew "man-db"
brew "mas"
brew "moreutils"
brew "openssl-osx-ca"
brew "pet"
brew "python3" # required by graphviz, man-db, structurizr-cli, structurizr-site-generatr and vim
brew "rustup-init"
brew "skhd"
brew "smug"
brew "tldr"

{{- if .tags.personal }}
brew "cfengine"
brew "snipkit"
brew "neovim"

{{- else if .tags.work }}
brew "azure-cli"
brew "fish"
brew "graphviz" # required by structurizr-site-generatr
brew "structurizr-cli"
brew "structurizr-site-generatr"

{{- end }}
#endregion

{{- if eq .chezmoi.os "darwin" }}
#region cask
cask "1password-cli"
cask "1password"
cask "amethyst"
cask "anytype"
cask "appcleaner"
cask "automatic-mouse-mover"
cask "bartender"
cask "bruno"
cask "das-keyboard-q"
cask "displaylink-login-screen-ext"
cask "displaylink-manager"
cask "docker"
# cask "dozer"
cask "elgato-stream-deck"
cask "finicky"
cask "flux"
cask "gas-mask"
cask "gimp"
cask "gpg-suite-no-mail"
cask "hammerspoon"
cask "jabra-direct"
cask "jtool2"
cask "kitty"
cask "launchpad-manager"
cask "spotify"
cask "suspicious-package"
cask "the-unarchiver"
cask "thingsmacsandboxhelper"
cask "uninstallpkg"
cask "visual-studio-code"
cask "xbar"
cask "zap"
cask "zotero"

{{- if .tags.personal }}
cask "airbuddy"
cask "airtable"
# cask "altair-graphql-client"
# cask "altserver"
cask "android-file-transfer"
cask "android-platform-tools"
cask "app-cleaner" # Nektony App Cleaner & Uninstaller
cask "balenaetcher"
cask "calibre"
cask "chromium"
cask "clickup"
# cask "cyberduck"
cask "daisydisk"
# cask "devpod"
cask "discord"
cask "dropbox"
cask "duckduckgo"
cask "duet"
# cask "element"
cask "fluor"
cask "fossa"
cask "hakuneko"
cask "image2icon"
cask "inkscape"
cask "ivpn"
cask "keybase"
cask "kindle"
cask "launchcontrol"
cask "little-snitch"
cask "macpass"
cask "mactex-no-gui"
cask "mate-translate"
cask "messenger"
# cask "mqttx"
cask "netnewswire"
# cask "numi"
# cask "obs"
cask "onyx"
# cask "orion"
cask "plex"
# cask "playcover-community"
cask "raspberry-pi-imager"
# cask "redisinsight"
cask "resilio-sync"
# cask "responsively"
cask "signal"
# cask "soulver"
cask "soundsource"
cask "sqlitestudio"
cask "steam"
cask "telegram"
cask "tiddly"
cask "whatsapp@beta"
cask "yattee"
cask "yubico-yubikey-manager"

{{- else if .tags.work }}
cask "firefox"
# cask "dotnet-sdk"
# cask "google-cloud-sdk"

{{- end }}
#endregion

#region mas
mas "1Password for Safari", id: 1569813296
mas "DoMarks", id: 1518886084
mas "StopTheMadness", id: 1376402589
mas "Tampermonkey", id: 1482490089
mas "Things", id: 904280696
mas "Userscripts-Mac-App", id: 1463298887

{{- if .tags.personal }}
mas "Apple Configurator", id: 1037126344
mas "Be Focused Pro", id: 961632517
mas "Just Press Record", id: 1033342465
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "OX Drive", id: 818195014
mas "Parcel", id: 639968404
mas "Privacy Redirect", id: 1578144015
mas "Scenecuts Helper", id: 1540491573
mas "SwiftoDo Desktop", id: 1143641091
mas "TestFlight", id: 899247664
mas "Xcode", id: 497799835
# mas "Yubico Authenticator", id: 1497506650

{{- else if .tags.work }}
# mas "Microsoft OneNote", id: 784801555

{{- end }}
#endregion
{{- end }}
