{{ .personal.name.preferred }} <{{ .personal.gitEmail }}>
{{- range $_, $email := splitList " " .personal.pastEmails }}
{{ $.personal.name.preferred }} <{{ $.personal.gitEmail }}> <{{ $email }}>
{{- end }}
GitHub Actions <actions@github.com>
GitHub Actions <actions@github.com> <41898282+github-actions[bot]@users.noreply.github.com>
GitHub Actions <actions@github.com> <49699333+dependabot[bot]@users.noreply.github.com>
GitHub Actions <actions@github.com> <49736102+kodiakhq[bot]@users.noreply.github.com>
GitHub Actions <actions@github.com> <66853113+pre-commit-ci[bot]@users.noreply.github.com>
