bind -n C-M-Left swap-window -t -1\; select-window -t -1
bind -n C-M-Right swap-window -t +1\; select-window -t +1
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

## fuck prefix2, we ball :D
bind -n ` switch-client -Tprefix
bind-key -T prefix ` send-prefix
bind -n § switch-client -Tprefix
bind-key -T prefix § send-prefix

# Load split configuration files before the plugins kick in, as they modify
# settings to inject functionality
source-file ~/.tmux.status.conf
