[commit]
  gpgSign = true

[init]
  defaultBranch = main

[user]
  signingKey = {{ .pgp.identity }}

[sendEmail]
  smtpEncryption = {{ eqFold "STARTTLS" .personal.smtp.security | ternary "tls" "ssl" }}
  smtpServer = {{ .personal.smtp.server }}
  smtpServerPort = {{ .personal.smtp.port }}
  smtpUser = {{ .personal.smtp.user }}
