{{- /* cspell:disable */ -}}

cask_args appdir: "~/Applications"

#region tap
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"
tap "jesseduffield/lazygit"
tap "knqyf263/pet" # pet
tap "koekeishiya/formulae" # skhd
tap "raggi/ale" # openssl-osx-ca
tap "wwmoraes/tap"

{{- if .tags.personal }}
tap "anchore/grype"
tap "anchore/syft"
tap "avisi-cloud/tools" # structurizr-site-generatr
tap "codeclimate/formulae"
tap "lemoony/tap" # snipkit
tap "tinygo-org/tools"
tap "vmware-tanzu/carvel" # ytt
tap "yoheimuta/protolint"

{{- else if .tags.work }}
# tap "Azure/kubelogin"
# tap "FairwindsOps/tap" # pluto
# tap "fluxcd/tap" # flux
# tap "hashicorp/tap" # vault

{{- end }}
#endregion

#region brew
brew "adr-tools"
brew "cargo-watch"
brew "chezmoi"
brew "container-structure-test"
brew "coreutils"
brew "cowsay"
brew "dive"
brew "editorconfig-checker"
brew "fish"
brew "fortune"
brew "fswatch"
brew "fzf"
brew "gawk"
brew "gcc"
brew "git"
brew "gnupg"
brew "go"
brew "gofumpt"
brew "golangci-lint"
brew "graphviz"
brew "grc"
brew "hadolint"
brew "imagemagick"
brew "jq"
brew "kind"
brew "lazygit"
brew "less"
brew "man-db"
brew "markdownlint-cli"
brew "mas"
brew "moreutils"
brew "most"
brew "node"
brew "openssl-osx-ca"
brew "pet"
brew "pipenv"
brew "plantuml"
brew "powerline-go"
brew "pre-commit"
brew "python3"
brew "shellcheck"
brew "skhd"
brew "smug"
brew "socat"
brew "tag"
brew "telnet"
brew "tldr"
brew "tmux"
brew "unzip"
brew "vim"
brew "watch"
brew "watchman"
brew "write-good"
brew "yamllint"
brew "yq"

{{- if .tags.personal }}
brew "asciinema"
brew "binaryen" # needed by tinygo
brew "cfengine"
brew "cfssl"
brew "codeclimate"
brew "doctl"
brew "exiftool"
brew "flyctl"
brew "gh"
brew "ghcup"
brew "goreleaser"
brew "grype"
brew "haskell-stack"
brew "hlint"
brew "hub"
brew "hugo"
brew "imapfilter"
brew "lerna"
brew "lua"
brew "luarocks"
brew "mimirtool"
brew "mosh"
brew "podman"
brew "protobuf"
brew "protolint"
brew "pulumi"
brew "qpdf"
brew "redis"
brew "rustup-init"
brew "snipkit"
brew "structurizr-cli"
brew "structurizr-site-generatr"
brew "stylelint"
brew "stylish-haskell"
brew "syft"
brew "tinygo"
brew "trivy"
brew "ykman"
brew "ykpers"
brew "ytt"
brew "yubico-piv-tool"

{{- else if .tags.work }}
brew "conftest"
# brew "flux"
brew "helm"
# brew "helmfile"
brew "jd"
brew "krew"
brew "kubeconform"
# brew "kubelogin"
brew "kubernetes-cli"
brew "kustomize"
# brew "minikube"
brew "opa"
# brew "pluto"
brew "skopeo"
# brew "sonobuoy"
# brew "vault"

{{- end }}
#endregion

{{- if eq .chezmoi.os "darwin" }}
#region cask
cask "1password-cli"
cask "1password"
cask "airbuddy"
cask "amethyst"
cask "app-cleaner"
cask "appcleaner"
cask "chromium"
cask "displaylink-login-screen-ext"
cask "displaylink-manager"
cask "dozer"
cask "elgato-stream-deck"
cask "finicky"
cask "firefox"
cask "fluor"
cask "flux"
cask "gas-mask"
cask "gimp"
cask "gpg-suite-no-mail"
cask "hammerspoon"
cask "image2icon"
cask "inkscape"
cask "jtool2"
cask "kitty"
cask "macfuse"
cask "obsidian"
cask "suspicious-package"
cask "swiftbar"
cask "the-unarchiver"
cask "uninstallpkg"
cask "visual-studio-code"
cask "zap"

{{- if .tags.personal }}
cask "airtable"
cask "altair-graphql-client"
cask "altserver"
cask "android-file-transfer"
cask "android-platform-tools"
cask "balenaetcher"
cask "calibre"
cask "cyberduck"
cask "daisydisk"
cask "devpod"
cask "discord"
cask "dropbox"
cask "duckduckgo"
cask "duet"
cask "fossa"
cask "hakuneko"
cask "ivpn"
cask "keybase"
cask "kindle"
cask "lapce"
cask "launchcontrol"
cask "launchpad-manager"
cask "little-snitch"
cask "mactex-no-gui"
cask "mate-translate"
cask "messenger"
cask "netnewswire"
cask "numi"
cask "obs"
cask "onyx"
cask "playcover-community"
cask "podman-desktop"
cask "redisinsight"
cask "responsively"
cask "soulver"
cask "soundsource"
cask "spotify"
cask "sqlitestudio"
cask "steam"
cask "synology-drive"
cask "telegram"
cask "thingsmacsandboxhelper"
cask "tiddly"
cask "whatsapp"
cask "yattee"
cask "yubico-yubikey-manager"
cask "zotero"

{{- else if .tags.work }}
# cask "breaktimer"
cask "docker"
# cask "dotnet-sdk"
# cask "google-cloud-sdk"
# cask "powershell"

{{- end }}
#endregion

#region mas
mas "1Password for Safari", id: 1569813296
mas "StopTheMadness", id: 1376402589
mas "Tampermonkey", id: 1482490089
mas "Userscripts-Mac-App", id: 1463298887

{{- if .tags.personal }}
mas "Apple Configurator", id: 1037126344
mas "Be Focused Pro", id: 961632517
mas "DoMarks", id: 1518886084
mas "Just Press Record", id: 1033342465
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "OX Drive", id: 818195014
mas "Parcel", id: 639968404
mas "Privacy Redirect", id: 1578144015
mas "Scenecuts Helper", id: 1540491573
mas "SwiftoDo Desktop", id: 1143641091
mas "TestFlight", id: 899247664
mas "Things", id: 904280696
mas "Xcode", id: 497799835
# mas "Yubico Authenticator", id: 1497506650

{{- else if .tags.work }}
# mas "Microsoft OneNote", id: 784801555

{{- end }}
#endregion
{{- end }}

#region vscode
{{/* docker */ -}} vscode "ms-azuretools.vscode-docker"
{{/* docker */ -}} vscode "ms-vscode-remote.remote-containers"
{{/* git */ -}} vscode "codezombiech.gitignore"
{{/* git */ -}} vscode "eamodio.gitlens"
{{/* git */ -}} vscode "mhutchie.git-graph"
{{/* git */ -}} vscode "sidneys1.gitconfig"
{{/* go */ -}} vscode "1pkg.gopium"
{{/* go */ -}} vscode "golang.go"
{{/* go */ -}} vscode "jinliming2.vscode-go-template"
{{/* go */ -}} vscode "tinygo.vscode-tinygo"
{{/* json */ -}} vscode "mohsen1.prettify-json"
{{/* json */ -}} vscode "richie5um2.vscode-sort-json"
{{/* md */ -}} vscode "bierner.markdown-checkbox"
{{/* md */ -}} vscode "bierner.markdown-preview-github-styles"
{{/* md */ -}} vscode "DavidAnson.vscode-markdownlint"
{{/* md */ -}} vscode "TomasHubelbauer.vscode-markdown-table-format"
{{/* shell */ -}} vscode "jetmartin.bats"
{{/* shell */ -}} vscode "jq-syntax-highlighting.jq-syntax-highlighting"
{{/* shell */ -}} vscode "skyapps.fish-vscode"
{{/* shell */ -}} vscode "timonwong.shellcheck"
{{/* syntax */ -}} vscode "chrislajoie.vscode-modelines"
{{/* syntax */ -}} vscode "dunstontc.viml"
{{/* syntax */ -}} vscode "IBM.output-colorizer"
{{/* syntax */ -}} vscode "malmaud.tmux"
{{/* syntax */ -}} vscode "mikestead.dotenv"
{{/* syntax */ -}} vscode "ms-vscode-remote.remote-ssh-edit"
{{/* syntax */ -}} vscode "oren-trutner.grc-syntax-highlighting"
{{/* syntax */ -}} vscode "remcohaszing.schemastore"
{{/* test */ -}} vscode "hbenl.vscode-test-explorer"
{{/* test */ -}} vscode "ms-vscode.test-adapter-converter"
{{/* test */ -}} vscode "ryanluker.vscode-coverage-gutters"
{{/* test */ -}} vscode "vadimcn.vscode-lldb"
{{/* toml */ -}} vscode "Isirode.better-stronger-toml"
{{/* toml */ -}} vscode "tamasfe.even-better-toml"
{{/* txt */ -}} vscode "bierner.emojisense"
{{/* txt */ -}} vscode "nhoizey.gremlins"
{{/* txt */ -}} vscode "streetsidesoftware.code-spell-checker"
{{/* txt */ -}} vscode "travisthetechie.write-good-linter"
{{/* vsc */ -}} vscode "actboy168.tasks"
{{/* vsc */ -}} vscode "alefragnani.Bookmarks"
{{/* vsc */ -}} vscode "alefragnani.project-manager"
{{/* vsc */ -}} vscode "Fooxly.workspace"
{{/* vsc */ -}} vscode "iciclesoft.workspacesort"
{{/* vsc */ -}} vscode "mrmlnc.vscode-duplicate"
{{/* vsc */ -}} vscode "SantaCodes.santacodes-region-viewer"
{{/* vsc */ -}} vscode "vilicvane.sensitive-replace"
{{/* vsc */ -}} vscode "vscode-icons-team.vscode-icons"
{{/* vsc */ -}} vscode "wmaurer.change-case"
{{/* wow */ -}} vscode "1Password.op-vscode"
{{/* wow */ -}} vscode "EditorConfig.EditorConfig"
{{/* wow */ -}} vscode "Gruntfuggly.todo-tree"
{{/* wow */ -}} vscode "nicollasr.vscode-streamdeck"
{{/* wow */ -}} vscode "StevenChen.vscode-adr-manager"
{{/* wow */ -}} vscode "thomascsd.vscode-readme-pattern"
{{/* xml */ -}} vscode "DotJoshJohnson.xml"
{{/* yaml */ -}} vscode "kennylong.kubernetes-yaml-formatter"
{{/* yaml */ -}} vscode "PascalReitermann93.vscode-yaml-sort"

{{- if .tags.personal }}
{{/* dot */ -}} vscode "EFanZh.graphviz-preview"
{{/* dot */ -}} vscode "EFanZh.graphviz-preview"
{{/* dot */ -}} vscode "joaompinto.vscode-graphviz"
{{/* github */ -}} vscode "github.vscode-github-actions"
{{/* github */ -}} vscode "GitHub.vscode-pull-request-github"
{{/* github */ -}} vscode "jasonnutter.vscode-codeowners"
{{/* github */ -}} vscode "vsls-contrib.gistfs"
{{/* graphql */ -}} vscode "kumar-harsh.graphql-for-vscode"
{{/* grpc */ -}} vscode "plex.vscode-protolint"
{{/* grpc */ -}} vscode "zxh404.vscode-proto3"
{{/* hs */ -}} vscode "haskell.haskell"
{{/* hs */ -}} vscode "hoovercj.haskell-linter"
{{/* hs */ -}} vscode "justusadam.language-haskell"
{{/* hugo */ -}} vscode "budparr.language-hugo-vscode"
{{/* hugo */ -}} vscode "kaellarkin.hugo-shortcode-syntax"
{{/* js */ -}} vscode "adpyke.vscode-userscript"
{{/* js */ -}} vscode "andys8.jest-snippets"
{{/* js */ -}} vscode "christian-kohler.npm-intellisense"
{{/* js */ -}} vscode "dbaeumer.vscode-eslint"
{{/* js */ -}} vscode "firsttris.vscode-jest-runner"
{{/* js */ -}} vscode "folke.vscode-monorepo-workspace"
{{/* js */ -}} vscode "gamunu.vscode-yarn"
{{/* js */ -}} vscode "jvitor83.types-autoinstaller"
{{/* js */ -}} vscode "kavod-io.vscode-jest-test-adapter"
{{/* js */ -}} vscode "kisstkondoros.vscode-codemetrics"
{{/* js */ -}} vscode "wix.vscode-import-cost"
{{/* js */ -}} vscode "xabikos.JavaScriptSnippets"
{{/* lua */ -}} vscode "actboy168.lua-debug"
{{/* lua */ -}} vscode "sumneko.lua"
{{/* macos */ -}} vscode "blairleduc.touch-bar-display"
{{/* macos */ -}} vscode "virgilsisoe.hammerspoon-snippets"
{{/* puml */ -}} vscode "jebbs.plantuml"
{{/* py */ -}} vscode "datoux.vscode-pytest-intellisence"
{{/* py */ -}} vscode "leonhard-s.python-sphinx-highlight"
{{/* py */ -}} vscode "littlefoxteam.vscode-python-test-adapter"
{{/* py */ -}} vscode "ms-python.python"
{{/* py */ -}} vscode "ms-python.vscode-pylance"
{{/* py */ -}} vscode "njpwerner.autodocstring"
{{/* rs */ -}} vscode "Swellaby.vscode-rust-test-adapter"
{{/* svg */ -}} vscode "cssho.vscode-svgviewer"
{{/* svg */ -}} vscode "jock.svg"
{{/* tex */ -}} vscode "James-Yu.latex-workshop"
{{/* web */ -}} vscode "christopherstyles.html-entities"
{{/* web */ -}} vscode "JabedHossain.web-preview"
{{/* web */ -}} vscode "ms-vscode.live-server"
{{/* web */ -}} vscode "naumovs.color-highlight"
{{/* wow */ -}} vscode "selcuk-usta.code-complexity-report-generator"
{{/* wow */ -}} vscode "SonarSource.sonarlint-vscode"
{{/* wow */ -}} vscode "ymotongpoo.licenser"

{{- else if .tags.work }}
{{/* helm */ -}} vscode "Tim-Koehler.helm-intellisense"
{{/* k8s */ -}} vscode "ipedrazas.kubernetes-snippets"
{{/* k8s */ -}} vscode "ms-kubernetes-tools.vscode-kubernetes-tools"
{{/* rego */ -}} vscode "plex.vscode-regolint"
{{/* rego */ -}} vscode "tsandall.opa"
{{/* tf */ -}} vscode "hashicorp.terraform"

{{- end }}
#endregion
