### Fish
.config/fish/fish_variables
# fisher
.config/fish/functions/fisher.fish
# jorgebucaran/fish-nvm
.config/fish/conf.d/nvm.fish
.config/fish/completions/nvm.fish
.config/fish/functions/nvm.fish
.config/fish/functions/_nvm_*.fish
# edc/bass
.config/fish/functions/__bass.py
.config/fish/functions/bass.fish
# evanlucas/fish-kubectl-completions
.config/fish/completions/kubectl.fish
# PatrickF1/fzf.fish
.config/fish/completions/fzf_*.fish
.config/fish/conf.d/fzf.fish
.config/fish/functions/_fzf_*.fish
.config/fish/functions/fzf_*.fish
# wwmoraes/fish-pre-commit-completions
.config/fish/completions/pre-commit.fish

### Hammerspoon
.hammerspoon/Spoons/*
!.hammerspoon/Spoons/SpoonInstall.spoon

### Lazygit
.config/lazygit/*
!.config/lazygit/config.yml
