# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
{ config, lib, pkgs, ... }:
rec {
  imports = [
    #{{- if .tags.personal }}
    ~/.nixpkgs/darwin/home-configuration.nix
    #{{- else if .tags.work }}
    ~/.nixpkgs/darwin/work-configuration.nix
    #{{- end }}
  ];

  # List packages installed in system profile. To search by name, run:
  # $ nix-env -qaP | grep wget
  environment.systemPackages = with pkgs; [
    # tmuxPlugins.vim-tmux-focus-events # TODO configure in vim
    (fortune.override { withOffensive = true; })
    adrs
    bat
    coreutils
    delta
    direnv
    dive
    envsubst
    fish
    fswatch
    fzf
    gawk
    git
    gnupg
    grc
    jq
    lazygit
    lefthook
    less
    man
    moreutils
    neo-cowsay
    nix-direnv
    pet
    powerline-go
    skhd
    smug
    tlrc
    tmux
    vim
  ] ++ (with pkgs.tmuxPlugins; [
    continuum
    copycat
    resurrect
    sessionist
    yank
  ]);
  # TODO configure fonts
  fonts.packages = with pkgs; [
    comfortaa
    fira-code
    fira-code-symbols
    montserrat
    powerline-fonts
    powerline-symbols
    source-code-pro
  ];

  /** TODO update font caches
    printf "Updating font cache...\n"
    fc-cache -f

    printf "refreshing font database...\n"
    atsutil databases -removeUser

    printf "reloading font daemon...\n"
    killall fontd || true
  */

  homebrew.taps = [
    "dsully/tap" # macos-defaults
    "homebrew/bundle"
    "homebrew/services"
    "raggi/ale" # openssl-osx-ca
    "wwmoraes/tap"
  ];

  homebrew.brews = [
    "macos-defaults"
    "openssl-osx-ca"
    ## TODO wire unstable src then move those to systemPackages
    "chezmoi"
  ];

  homebrew.casks = [
    "1password-cli"
    "1password"
    "amethyst"
    "anytype"
    "appcleaner"
    "automatic-mouse-mover"
    "bartender"
    "bruno"
    "das-keyboard-q"
    "displaylink-login-screen-ext"
    "displaylink-manager"
    "docker"
    "elgato-stream-deck"
    "finicky"
    "flux"
    "gas-mask"
    "gimp"
    "gpg-suite-no-mail"
    "hammerspoon"
    "jabra-direct"
    "jtool2"
    "kitty"
    "launchpad-manager"
    "spotify"
    "suspicious-package"
    "the-unarchiver"
    "thingsmacsandboxhelper"
    "uninstallpkg"
    "visual-studio-code"
    "xbar"
    "zap"
    "zotero"
  ];

  homebrew.masApps = {
    "1Password for Safari" = 1569813296;
    "DoMarks" = 1518886084;
    "StopTheMadness" = 1376402589;
    "Tampermonkey" = 1482490089;
    "Things" = 904280696;
    "Userscripts-Mac-App" = 1463298887;
  };

  environment.variables = {
    EDITOR = "vim";
    NIX_SSL_CERT_FILE = "#{{ .brew.prefix }}/etc/openssl@3/cert.pem";
  };

  homebrew.enable = true;
  homebrew.caskArgs = {
    appdir = "~/Applications";
  };
  homebrew.onActivation = {
    autoUpdate = true;
    upgrade = true;
    cleanup = "uninstall"; # "uninstall", "zap"
  };

  launchd.daemons = {
    "org.nixos.nix-daemon" = {
      serviceConfig.EnvironmentVariables = {
        NIX_SSL_CERT_FILE = environment.variables.NIX_SSL_CERT_FILE;
      };
    };
  };

  nix.configureBuildUsers = true;
  nix.nrBuildUsers = 32;
  nix.package = pkgs.nix;
  nix.settings.trusted-users = [
    "@_developer"
    "@admin"
    "root"
  ];

  programs.fish.enable = true;

  services.nix-daemon.enable = true;

  # Used for backwards compatibility, please read the changelog before changing.
  # $ darwin-rebuild changelog
  system.stateVersion = 4;
}
