default-cache-ttl 600
max-cache-ttl 7200

# allows gpg-preset-passphrase to seed gpg-agent's passphrase internal cache
allow-preset-passphrase

{{- if eq .chezmoi.os "darwin" }}
{{- $bundlePath := output "mdfind" "kMDItemCFBundleIdentifier" "=" "org.gpgtools.pinentry-mac" | trimAll "\n" }}
pinentry-program {{ $bundlePath }}/Contents/MacOS/pinentry-mac
{{- else }}
pinentry-program {{ lookPath "pinentry" }}
{{- end }}

enable-ssh-support
