## http://docs.haskellstack.org/en/stable/yaml_configuration/
# build:
#   haddock: true
#   test: true
#   test-arguments:
#     additional-args:
#     - --color
#     - --diff
#     - --failure-report .stack-work/hspec-failures
#     - --pretty
#     - --randomize
#     - --rerun
#     - --rerun-all-on-success
#     - --times
#     - --unicode
#     coverage: true
#     rerun-tests: false

default-template: wwmoraes/default

## https://docs.haskellstack.org/en/stable/yaml_configuration/#templates
templates:
  scm-init: git
  params:
    author-name: {{ .personal.name.preferred }}
    author-email: haskell@{{ .personal.website | trimPrefix "https://" }}
    github-username: {{ .personal.username }}
    category: Command Line
    license: MIT
