BEGIN:VCARD
VERSION:3.0
EMAIL:{{ .personal.email }}
FN:{{ .personal.name.preferred }}
KEY;PGP:{{ .pgp.keyUrl }}
LOGO:{{ .personal.website }}/thumbnail.png
N:{{ .personal.name.last }};{{ .personal.name.first }};;;
PHOTO:{{ .personal.website }}/images/avatar.jpg
TEL:{{ .personal.mobile }}
TITLE:{{ .work.title }}
URL:{{ .personal.website }}
{{- $address := splitList ", " .personal.address }}
ADR;TYPE=home:;;;{{ $address | initial | last }};;;{{ $address | last }}
END:VCARD
