{
  "aliases": {
    "builder": "buildx"
  },
  "auths": {
    "https://index.docker.io/v1/": {}
  },
  "credsStore": "{{ eq .chezmoi.os "darwin" | ternary "osxkeychain" "desktop" }}",
  "currentContext": "default",
  "experimental": "disabled",
  "plugins": {
    "-x-cli-hints": {
      "enabled": "false"
    }
  },
  "stackOrchestrator": "swarm"
}
