{{- /* chezmoi:template:format-indent="\t" */ -}}

{{- $credsStore := eq .chezmoi.os "darwin" | ternary "osxkeychain" "desktop" -}}

{{- $config := merge .docker.config (dict "credsStore" $credsStore) -}}

{{- with dig .environment.name "docker" "config" "" . -}}
{{- $config = merge $config . -}}
{{- end -}}

{{- $config | toPrettyJson "\t" -}}
