// chezmoi:template:left-delimiter="// {{" right-delimiter=}}
// {{- $credsStore := eq .chezmoi.os "darwin" | ternary "osxkeychain" "desktop" -}}
{
	"auths": {
		"https://index.docker.io/v1/": {}
	},
	"credsStore": "// {{- $credsStore -}}",
	"experimental": "disabled",
	"currentContext": "default",
	"plugins": {
		"-x-cli-hints": {
			"enabled": "false"
		}
	},
	"aliases": {
		"builder": "buildx"
	}
}