# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
{ pkgs
, ...
}: let
	globalCask = name: {
		name = name;
		args = { appdir = "/Applications"; };
	};
in rec {
	#region packages
	environment.systemPackages = [
		# pkgs.cilium-cli
		pkgs.cachix
		pkgs.talosctl
	];

	homebrew.brews = [
		# "cfengine"
		# "qcachegrind"
		"snipkit"
	];

	homebrew.casks = [
		(globalCask "1password")
		"1password-cli"
		"airbuddy"
		"airtable"
		"android-file-transfer"
		"android-platform-tools"
		"app-cleaner" # Nektony App Cleaner & Uninstaller
		"appcleaner"
		"balenaetcher"
		"calibre"
		"chromium"
		"cyberduck"
		"discord"
		"dropbox"
		"duckduckgo"
		"fluor"
		"hakuneko"
		"image2icon"
		"inkscape"
		"keybase"
		"knockknock"
		"launchcontrol"
		(globalCask "little-snitch")
		"logseq"
		"macpass"
		"mate-translate"
		"messenger"
		"netnewswire"
		"onyx"
		"plex"
		"plex-htpc"
		"raspberry-pi-imager"
		"resilio-sync"
		"signal"
		"soulver"
		"soundsource"
		"sqlitestudio"
		"steam"
		"telegram"
		"thingsmacsandboxhelper"
		"tiddly"
		"yattee"
		(globalCask "yubico-yubikey-manager")
		"zotero@beta"
	];

	homebrew.masApps = {
		"1Password for Safari" = 1569813296;
		"Apple Configurator" = 1037126344;
		"Be Focused Pro" = 961632517;
		"CCMenu" = 603117688;
		"DoMarks" = 1518886084;
		"GarageBand" = 682658836;
		"Just Press Record" = 1033342465;
		"Keynote" = 409183694;
		"Numbers" = 409203825;
		"OX Drive" = 818195014;
		"Parcel" = 639968404;
		"Privacy Redirect" = 1578144015;
		"StopTheMadness" = 1376402589;
		"Supernote Partner" = 1494992020;
		# "SwiftoDo Desktop" = 1143641091;
		"Tampermonkey Classic" = 1482490089;
		"TestFlight" = 899247664;
		"Things" = 904280696;
		"Userscripts-Mac-App" = 1463298887;
		"WireGuard" = 1451685025;
		"Xcode" = 497799835;
		# "Yubico Authenticator" = 1497506650;
		"iMovie" = 408981434;
		"uBlacklist for Safari" = 1547912640;
	};

	homebrew.taps = [
		"lemoony/tap" # snipkit
	];

	environment.variables = launchd.user.envVariables // {
		EMAIL = "#{{ .personal.email }}";
		PROJECTS_DIR = "$HOME/dev";
	};

	launchd.user.envVariables = {
		DOT_ENVIRONMENT = "home";
	};
}
