{ config, pkgs, ... }:
rec {
  environment.systemPackages = with pkgs; [
    azure-cli
    # kubernetes-helmPlugins.helm-diff
    # kubernetes-helmPlugins.helm-git
    # kubernetes-helmPlugins.helm-s3
    # kubernetes-helmPlugins.helm-secrets
    # kubectx # TODO alias as kubectl-ctx + update fish abbr
    # kubens # TODO alias as kubectl-ns + update fish abbr
    # kubectl-neat
    # kubectl-who-can
    # kubectl-whoami
  ];

  homebrew.taps = [
  ];

  homebrew.brews = [
  ];

  homebrew.casks = [
    "firefox"
  ];

  homebrew.masApps = {
    # "Microsoft OneNote" = 784801555;
  };
}
