# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
{ config, lib, pkgs, ... }:
rec {
  #region packages
  environment.systemPackages = (with pkgs; [
    # calicoctl
    # terraform
    # kubectl-neat
    # kubectl-who-can
    # kubectl-whoami
    # kubectx # TODO alias as kubectl-ctx + update fish abbr
    # kubens # TODO alias as kubectl-ns + update fish abbr
    # kubernetes-helmPlugins.helm-diff
    # kubernetes-helmPlugins.helm-git
    # kubernetes-helmPlugins.helm-s3
    # kubernetes-helmPlugins.helm-secrets
    azure-cli
  ]);

  homebrew.brews = [
  ];

  homebrew.casks = [
    "firefox"
  ];

  homebrew.masApps = {
    # "Microsoft OneNote" = 784801555;
  };

  homebrew.taps = [
  ];
  #endregion

  #region environment variables
  environment.variables = launchd.user.envVariables;

  launchd.user.envVariables = {
    ENVIRONMENT = "work";
    PROJECTS_DIR = "$HOME/workspace";
    PYTHONWARNINGS = "ignore";
  };
  #endregion
}
