{{- if lookPath "python3" }}
  {{- /* --user-site returns non-zero status to report site state */ -}}
  {{- range $_, $line := output "python3" "-m" "site" | splitList "\n" | compact }}
    {{- if (hasPrefix "USER_BASE" $line) }}
      {{- with ($line | regexFind "'.+'" | trimAll "'") }}
        {{- joinPath . "bin" }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
