{{- if eq .chezmoi.os "darwin" -}}

{{ .chezmoi.username }} ALL = NOPASSWD: /bin/rm -rf /Library/Developer/CommandLineTools
{{ .chezmoi.username }} ALL = NOPASSWD: /usr/bin/xcode-select --install
{{ .chezmoi.username }} ALL = NOPASSWD: /usr/sbin/DevToolsSecurity -enable
{{ .chezmoi.username }} ALL = NOPASSWD: /usr/bin/xcodebuild -license accept

{{- end }}
