{{- if .environment.work -}}

### User defaults to fix CISO's approved ™️ copy-pasta from StackOverflow.
###
### For instance, absolutely great idea from CISO to ask for sudo password every
### fucking time. I've leaked my password to the logs twice in one day just
### because of this. Secure, right?
###
### Now we're back to the standard 5 minutes timestamp.
Defaults:{{ .chezmoi.username }} timestamp_timeout=5
###
### Re-enables the option to set environment variables with -E.
Defaults:{{ .chezmoi.username }} setenv

### using a graphical application that assigns you to the wheel group to be able
### to sudo is so retarded that I decided to risk myself :D
Host_Alias WORK = {{ .chezmoi.hostname | lower }}
Cmnd_Alias UNSAFE_WORK_CMDS = /usr/bin/su, /bin/cp *
Cmnd_Alias SAFE_WORK_CMDS = /usr/bin/true "", /usr/bin/renice *, /usr/sbin/taskpolicy *

{{ .chezmoi.username }} WORK = PASSWD: UNSAFE_WORK_CMDS
{{ .chezmoi.username }} WORK = NOPASSWD: SAFE_WORK_CMDS
{{ .chezmoi.username }} WORK = PASSWD: /bin/launchctl config user path *

### why wouldn't I be able to change the ownership of my own fucking files?
{{ .chezmoi.username }} WORK = NOPASSWD:SETENV: /usr/sbin/chown -R {{ .chezmoi.username }}\:{{ .chezmoi.group }} /Users/{{ .chezmoi.username }}/*

### now I can work in peace without requesting elevation and waiting an entire
### day to get it, update tools I need and resume coding
{{ .chezmoi.username }} ALL = (ALL) PASSWD:ALL

{{- end }}
