extra-experimental-features = nix-command flakes
http2 = false
substituters = https://cache.nixos.org https://cache.nixos.org/ https://wwmoraes.cachix.org
trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= wwmoraes.cachix.org-1:N38Kgu19R66Jr62aX5rS466waVzT5p/Paq1g6uFFVyM=
