# chezmoi:template:left-delimiter="# {{" right-delimiter=}}
# {{- if .tags.personal }}
description: Mail
kill: [Mail]
data:

  com.apple.mail:

    ## Disable send and reply animations in Mail.app
    DisableReplyAnimations: true
    DisableSendAnimations: true

    ## Copy email addresses as 'foo@example.com' instead of 'Foo Bar <foo@example.com>' in Mail.app
    AddressesIncludeNameOnPasteboard: false

    ## Sort conversations in descending order (recent on the top)
    ConversationViewSortDescending: true

    ## Add the keyboard shortcut ⌘ + Enter to send an email in Mail.app
    NSUserKeyEquivalents:
      Send: '@\U21a9'

    ## Display emails in threaded mode, sorted by date (newest at the top)
    DraftsViewerAttributes:
      DisplayInThreadedMode: "yes"
      SortedDescending: "no"
      SortOrder: received-date

    ## Disable inline attachments (just show the icons)
    DisableInlineAttachmentViewing: true

    ## Disable automatic spell checking
    SpellCheckingBehavior: NoSpellCheckingEnabled
# {{- end }}
