description: Time Machine
sudo: true
data:

  com.apple.TimeMachine:

    ## Prevent Time Machine from prompting to use new hard drives as backup volume
    DoNotOfferNewDisksForBackup: true

  # FIX Permission denied (os error 13)
  # /Library/Preferences/com.apple.TimeMachine.plist:

  #   ## enable Time Machine backups
  #   AutoBackup: true

  #   ## backup every 24h
  #   AutoBackupInterval: 86400

  #   ## backup only when connected to power
  #   RequiresACPower: true

  #   ExcludeByPath:
  #   - /Volumes/Keybase ({{ .chezmoi.username }})
  #   - /Volumes/Keybase

  #   ## exclude from backups
  #   SkipPaths:
  #   - ~{{ .chezmoi.username }}/Applications
  #   - ~{{ .chezmoi.username }}/Desktop
  #   - ~{{ .chezmoi.username }}/dev
  #   - ~{{ .chezmoi.username }}/Downloads
  #   - ~{{ .chezmoi.username }}/Dropbox
  #   - ~{{ .chezmoi.username }}/go
  #   - ~{{ .chezmoi.username }}/MEGA
  #   - ~{{ .chezmoi.username }}/OX Drive
  #   - ~{{ .chezmoi.username }}/Sync

  #   # MobileBackups: false
