IdentityFile ~/.ssh/work.pub
IdentitiesOnly yes

Host github.com
  IdentityFile ~/.ssh/work.pub
  IdentitiesOnly yes

Host cocodev cocodev.{{ .networks.work.pcs.domain }}
  HostName cocodev.{{ .networks.work.pcs.domain }}
  IdentityFile ~/.ssh/work.pub
  User {{ .work.username | lower }}
  IdentitiesOnly yes
