# https://developer.1password.com/docs/ssh/agent/config

{{- if .environment.home }}

[[ssh-keys]]
item = "Home"
vault = "Personal"

[[ssh-keys]]
item = "Cabuk"
vault = "Home"

[[ssh-keys]]
item = "Router"
vault = "Home"

[[ssh-keys]]
item = "Bootstrap"
vault = "Home"

{{- else if .environment.work }}

[[ssh-keys]]
item = "Work RSA"
vault = "Work"

[[ssh-keys]]
item = "Work ED25519"
vault = "Work"

{{- end -}}
