### Global include
Include config.d/globals/*

IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{- /*
# Match exec "arp -an | grep -qF {{ .networks.home.wireless.mac }} 2> /dev/null"
#   Include config.d/locations/home
*/ -}}

{{- if .tags.personal }}

Include config.d/locations/home

{{- else if .tags.work }}

Include config.d/locations/work

{{- end }}
