### Global include
Include config.d/globals/*

IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{/*
# Match exec "arp -an | grep -qF {{ .networks.home.wireless.mac }} 2> /dev/null"
#   Include config.d/locations/home
*/}}

{{- if .tags.personal }}

IdentityFile ~/.ssh/personal.pub
IdentitiesOnly yes

Host github.com bitbucket.org
  IdentityFile ~/.ssh/personal.pub
  IdentitiesOnly yes

Include config.d/locations/personal

{{- else if .tags.work }}

Include config.d/locations/work

IdentityFile ~/.ssh/work.pub
IdentitiesOnly yes

Host github.com
  IdentityFile ~/.ssh/work.pub
  IdentitiesOnly yes

{{- end }}
