[General]
snippetfile = "{{ .chezmoi.homeDir }}/.config/pet/snippet.toml"
editor = "code -r"
column = 80
selectcmd = "fzf --ansi"
backend = "gist"
sortby = "description"
cmd = ["fish", "-c"]

[Gist]
file_name = "pet-snippet.toml"
access_token = {{ .personal.tokens.github | quote }}
gist_id = "a868388843ca3e649d17ba243b813830"
public = false
auto_sync = true
