// chezmoi:template:left-delimiter="// {{" right-delimiter=}}
{
  "auths": {
    "docker.io": {
      // {{- $dockerUsername := onepasswordRead "op://Development/Docker/username" }}
      // {{- $dockerPassword := onepasswordRead "op://Development/Docker/password" }}
      // {{- $dockerAuth := printf "%s:%s" $dockerUsername $dockerPassword | b64enc }}
      "auth": "// {{- $dockerAuth -}}"
    },
    "ghcr.io": {
      // {{- $githubUsername := onepasswordRead "op://Development/Github/username" }}
      // {{- $githubToken := onepasswordRead "op://Development/Github CLI/token" }}
      // {{- $githubAuth := printf "%s:%s" $githubUsername $githubToken | b64enc }}
      "auth": "// {{- $githubAuth -}}"
    }
  }
}