# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
#{{- if .tags.personal -}}

session: home
root: ~/dev
windows:
- name: dev
  root: .
  commands: []
  layout: tiled
- name: site
  root: site
  commands: []
  layout: tiled

#{{- end -}}
