# chezmoi:template:left-delimiter="#{{" right-delimiter=}}
#{{- if .environment.work -}}

session: work
root: ~/workspace
windows:
- name: workspace
  root: .
  commands: []
  layout: tiled
- name: PoC
  root: pcsas-poc-platform-api
  commands: []
  layout: tiled

#{{- end -}}
