// chezmoi:template:left-delimiter="// {{" right-delimiter=}}
// {{- /* cspell:disable */ -}}
// {{- $credentialHelper := eq .chezmoi.os "darwin" | ternary "osxkeychain" "desktop" -}}
{
  "acceptCanaryUpdates": false,
  "activeOrganizationName": "",
  "allowBetaFeatures": false,
  "allowExperimentalFeatures": false,
  "analyticsEnabled": false,
  "autoDownloadUpdates": true,
  "autoPauseTimedActivitySeconds": 30,
  "autoPauseTimeoutSeconds": 30,
  "autoStart": true,
  "backupData": false,
  "blockDockerLoad": false,
  "containerTerminal": "system",
  "cpus": 2,
  "credentialHelper": "docker-credential-// {{- $credentialHelper -}}",
  "customWslDistroDir": "",
  "dataFolder": "// {{ .chezmoi.homeDir }}/Library/Containers/com.docker.docker/Data/vms/0/data",
  "deprecatedCgroupv1": false,
  "disableHardwareAcceleration": false,
  "disableUpdate": false,
  "diskFlush": "",
  "diskSizeMiB": 38147,
  "diskStats": "",
  "diskTRIM": true,
  "displayRestartDialog": false,
  "displaySwitchWinLinContainers": false,
  "displayed18362Deprecation": false,
  "displayedElectronPopup": [],
  "displayedOnboarding": true,
  "dockerAppLaunchPath": "// {{ .chezmoi.homeDir }}/Applications/Docker.app",
  "dockerBinInstallPath": "user",
  "enableDefaultDockerSocket": true,
  "enableIntegrationWithDefaultWslDistro": false,
  "enableIntegrityCheck": true,
  "enableSegmentDebug": false,
  "enableWasmShims": false,
  "enhancedContainerIsolation": false,
  "exposeDockerAPIOnTCP2375": false,
  "extensionsEnabled": false,
  "extensionsPrivateMarketplace": false,
  "extensionsPrivateMarketplaceAdminContactURL": "",
  "filesharingDirectories": [
    "/Users",
    "/Volumes",
    "/private",
    "/tmp",
    "/var/folders"
  ],
  "integratedWslDistros": null,
  "kernelForUDP": true,
  "kubernetesEnabled": false,
  "kubernetesInitialInstallPerformed": false,
  "lastLoginDate": 0,
  "latestBannerKey": "",
  "licenseTermsVersion": 2,
  "lifecycleTimeoutSeconds": 600,
  "memoryMiB": 2048,
  "networkType": "gvisor",
  "noWindowsContainers": true,
  "onlyMarketplaceExtensions": false,
  "openUIOnStartupDisabled": true,
  "overrideProxyExclude": "",
  "overrideProxyHttp": "",
  "overrideProxyHttps": "",
  "overrideProxyPAC": "",
  "overrideWindowsDockerdPort": -1,
  "proxyHttpMode": "system",
  "requireVmnetd": false,
  "runWinServiceInWslMode": false,
  "sbomIndexing": false,
  "settingsVersion": 35,
  "showAnnouncementNotifications": false,
  "showExtensionsSystemContainers": false,
  "showGeneralNotifications": false,
  "showInstallScreen": false,
  "showKubernetesSystemContainers": false,
  "showSurveyNotifications": false,
  "skipUpdateToWSLPrompt": false,
  "skipWSLMountPerfWarning": false,
  "socksProxyPort": 0,
  "swapMiB": 2048,
  "synchronizedDirectories": [],
  "themeSource": "system",
  "updateAvailableTime": 0,
  "updateHostsFile": false,
  "updateInstallTime": 1705841469,
  "useBackgroundIndexing": false,
  "useContainerdSnapshotter": false,
  "useCredentialHelper": true,
  "useGrpcfuse": false,
  "useNightlyBuildUpdates": false,
  "useResourceSaver": true,
  "useVirtualizationFramework": true,
  "useVirtualizationFrameworkRosetta": true,
  "useVirtualizationFrameworkVirtioFS": true,
  "useVpnkit": true,
  "useWindowsContainers": false,
  "vpnKitAllowedBindAddresses": "0.0.0.0",
  "vpnKitMTU": 1500,
  "vpnKitMaxConnections": 2000,
  "vpnKitMaxPortIdleTime": 300,
  "vpnKitTransparentProxy": true,
  "vpnkitCIDR": "192.168.65.0/24",
  "wslEnableGrpcfuse": false,
  "wslEngineEnabled": false,
  "wslInstallMode": "installLatestWsl",
  "wslUpdateRequired": false
}