[commit]
  gpgSign = true

{{- $helper := "cache" }}
{{- if eq .chezmoi.os "darwin" }}
  {{- $helper = "osxkeychain" }}
{{- else if eq .chezmoi.os "windows" }}
  {{- $helper = "wincred" }}
{{- else if eq .chezmoi.os "linux" }}
  {{- $helper = "libsecret" }}
{{- end }}
[credential]
  helper = {{ $helper }}

[gpg]
  format = openpgp
  program = gpg2

[tag]
  gpgSign = true

[user]
  email = {{ .personal.gitEmail }}
  name = {{ .personal.name.preferred }}
  signingKey = {{ .pgp.identity }}

[sendEmail]
  smtpEncryption = {{ eqFold "STARTTLS" .personal.smtp.security | ternary "tls" "ssl" }}
  smtpServer = {{ .personal.smtp.server }}
  smtpServerPort = {{ .personal.smtp.port }}
  smtpUser = {{ .personal.smtp.user }}
